@media only screen and (max-width: 850px) {
   .about-section .row .second-col {
      height: 100vh;
   }

   .category-grid {
      display: grid;

      grid-template-rows: 0.20fr 0.5fr 0.20fr;
      grid-template-columns: 1fr 1fr;
      gap: 2px;
      height: 100%;

   }

   .category-grid img {
      transition: 0.4s;

   }

   .category-grid img:hover {
      transform: scale(1.1);
      cursor: pointer;
   }


   #item-0 {
      background: yellow;
      grid-row-start: 1;
      grid-column-start: 2;
      grid-row-end: 2;
      grid-column-end: 3;
   }

   #item-1 {
      grid-row-start: 1;
      grid-column-start: 1;
      grid-row-end: 2;
      grid-column-end: 2;

   }

   #item-2 {
      grid-row-start: 2;
      grid-column-start: 1;
      grid-row-end: 3;
      grid-column-end: 3;

   }

   #item-2 img {
      height: initial;
   }

   #item-3 {
      grid-row-start: 3;
      grid-column-start: 1;
      grid-row-end: 4;
      grid-column-end: 2;
   }

   #item-4 {
      grid-row-start: 3;
      grid-column-start: 2;
      grid-row-end: 4;
      grid-column-end: 3;
   }

}